apiVersion: v1
kind: ConfigMap
metadata:
  name: mlflow-config
  namespace: mlflow
data:
  backend-store-uri: "postgresql+psycopg2://mlflow:password@postgresql:5432/mlflow"
  artifact-root: "s3://mlflow/"