apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: mlflow
  labels:
    app: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
        - name: mlflow
          image: ghcr.io/thuanpham582002/mlflow:v3.5.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
              protocol: TCP
          env:
            - name: MLFLOW_BACKEND_STORE_URI
              valueFrom:
                configMapKeyRef:
                  name: mlflow-config
                  key: backend-store-uri
            - name: MLFLOW_DEFAULT_ARTIFACT_ROOT
              valueFrom:
                configMapKeyRef:
                  name: mlflow-config
                  key: artifact-root
            - name: MLFLOW_SERVER_HOST
              value: "0.0.0.0"
            - name: MLFLOW_SERVER_PORT
              value: "5000"
            - name: DATABASE_URI
              valueFrom:
                secretKeyRef:
                  name: mlflow-secrets
                  key: database-uri
            # MinIO/S3 configuration
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: mlflow-minio-secrets
                  key: aws-access-key-id
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: mlflow-minio-secrets
                  key: aws-secret-access-key
            - name: MLFLOW_S3_ENDPOINT_URL
              value: "http://10.24.10.11:30900"
            - name: MLFLOW_S3_IGNORE_TLS
              value: "true"
            - name: AWS_DEFAULT_REGION
              value: "us-east-1"
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /
              port: 5000
            failureThreshold: 3
            initialDelaySeconds: 60
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /
              port: 5000
            failureThreshold: 3
            initialDelaySeconds: 30
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 3
      restartPolicy: Always