apiVersion: v1
kind: Service
metadata:
  name: postgresql
  namespace: mlflow
  labels:
    app: postgresql
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
  selector:
    app: postgresql